In [134]:
import pandas as pd
import numpy as np

In [135]:
path ="subway.csv"
import chardet
with open(path, 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'encoding': 'EUC-KR', 'confidence': 0.99, 'language': 'Korean'}

In [136]:
data = pd.read_csv(path,encoding='EUC-KR')
data

,사용월,호선명,지하철역,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,...,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원,02시-03시 승차인원,02시-03시 하차인원,03시-04시 승차인원,03시-04시 하차인원,작업일자
0,202006,1호선,종로5가,52,2,1935,4036,2674,16497,5086,...,2288,17,234,0,0,0,0,0,0,20200703
1,202006,1호선,종각,94,3,3286,4443,3385,26566,5367,...,2630,26,131,0,1,0,0,0,0,20200703
2,202006,1호선,동대문,495,8,14049,2376,9668,7451,14530,...,10726,20,920,0,0,2,1,0,0,20200703
3,202006,1호선,신설동,252,6,9370,2462,8823,8751,17577,...,7379,17,546,0,0,0,0,0,0,20200703
4,202006,1호선,제기동,419,7,4701,2355,8346,9047,20972,...,5226,6,408,0,0,0,0,0,0,20200703
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38085,201501,4호선,수유(강북구청),76,1,21160,3652,56906,15248,158768,...,63561,2885,15646,1,0,0,0,0,0,20151223
38086,201501,4호선,미아,12,1,10667,1812,23354,5827,64853,...,21422,705,5150,0,0,0,0,0,0,20151223
38087,201501,4호선,쌍문,38,0,22176,860,56130,10585,149688,...,53418,987,15401,0,0,1,0,0,0,20151223
38088,201501,4호선,상계,34,7,14244,212,42099,8301,106446,...,37194,803,11385,4,913,0,0,0,0,20151223
38089,201501,4호선,노원,100,4,11832,654,30613,9336,64281,...,38678,2873,13345,3,377,0,0,0,0,20151223

In [137]:
del data["작업일자"]
data=data.astype({"사용월":str})
data["년도"]=data["사용월"].apply(lambda x:x[0:4])
data["월"]=data["사용월"].apply(lambda x:x[4:])

data=data.drop(data.columns[-6:-2],axis=1)

data

,사용월,호선명,지하철역,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,...,22시-23시 승차인원,22시-23시 하차인원,23시-24시 승차인원,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원,년도,월
0,202006,1호선,종로5가,52,2,1935,4036,2674,16497,5086,...,19853,3300,6429,2288,17,234,0,0,2020,06
1,202006,1호선,종각,94,3,3286,4443,3385,26566,5367,...,65597,4290,24210,2630,26,131,0,1,2020,06
2,202006,1호선,동대문,495,8,14049,2376,9668,7451,14530,...,11104,10720,4592,10726,20,920,0,0,2020,06
3,202006,1호선,신설동,252,6,9370,2462,8823,8751,17577,...,9959,9767,3493,7379,17,546,0,0,2020,06
4,202006,1호선,제기동,419,7,4701,2355,8346,9047,20972,...,7071,8967,2633,5226,6,408,0,0,2020,06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38085,201501,4호선,수유(강북구청),76,1,21160,3652,56906,15248,158768,...,32483,92088,18423,63561,2885,15646,1,0,2015,01
38086,201501,4호선,미아,12,1,10667,1812,23354,5827,64853,...,10039,32788,4932,21422,705,5150,0,0,2015,01
38087,201501,4호선,쌍문,38,0,22176,860,56130,10585,149688,...,14478,70800,7501,53418,987,15401,0,0,2015,01
38088,201501,4호선,상계,34,7,14244,212,42099,8301,106446,...,14087,45694,5182,37194,803,11385,4,913,2015,01
38089,201501,4호선,노원,100,4,11832,654,30613,9336,64281,...,33300,50256,17968,38678,2873,13345,3,377,2015,01

In [138]:
cols=data.columns.tolist()
cols.remove("년도")
cols.insert(1,"년도")
cols.remove("월")
cols.insert(2,"월")
data=data[cols]

In [139]:
data[data.columns[5:]]

,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,07시-08시 하차인원,08시-09시 승차인원,08시-09시 하차인원,...,21시-22시 승차인원,21시-22시 하차인원,22시-23시 승차인원,22시-23시 하차인원,23시-24시 승차인원,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원
0,52,2,1935,4036,2674,16497,5086,41395,7527,109592,...,25803,4553,19853,3300,6429,2288,17,234,0,0
1,94,3,3286,4443,3385,26566,5367,106806,8424,249411,...,83784,6563,65597,4290,24210,2630,26,131,0,1
2,495,8,14049,2376,9668,7451,14530,13436,18672,25850,...,12670,11315,11104,10720,4592,10726,20,920,0,0
3,252,6,9370,2462,8823,8751,17577,25875,23934,68710,...,13648,10631,9959,9767,3493,7379,17,546,0,0
4,419,7,4701,2355,8346,9047,20972,19293,29749,42697,...,8846,9379,7071,8967,2633,5226,6,408,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38085,76,1,21160,3652,56906,15248,158768,24424,179149,67949,...,39513,96293,32483,92088,18423,63561,2885,15646,1,0
38086,12,1,10667,1812,23354,5827,64853,12007,78434,35329,...,16024,33266,10039,32788,4932,21422,705,5150,0,0
38087,38,0,22176,860,56130,10585,149688,15005,159613,30980,...,18898,70430,14478,70800,7501,53418,987,15401,0,0
38088,34,7,14244,212,42099,8301,106446,9104,94046,22270,...,14139,45875,14087,45694,5182,37194,803,11385,4,913
38089,100,4,11832,654,30613,9336,64281,14674,73239,33083,...,33479,53428,33300,50256,17968,38678,2873,13345,3,377

In [140]:
#data["04시-05 차이"]=data[data.columns[5]]-data[data.columns[6]]

In [141]:
for i in range(5,48,2):
    data[str(i)]=data[data.columns[i]]-data[data.columns[i+1]]
data

C:\Users\acorn-508\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,사용월,년도,월,호선명,지하철역,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,...,29,31,33,35,37,39,41,43,45,47
0,202006,2020,06,1호선,종로5가,52,2,1935,4036,2674,...,23799,44120,78253,35951,24754,21250,16553,4141,-217,0
1,202006,2020,06,1호선,종각,94,3,3286,4443,3385,...,27367,90522,161035,61840,62928,77221,61307,21580,-105,-1
2,202006,2020,06,1호선,동대문,495,8,14049,2376,9668,...,4675,5319,4532,-5170,-864,1355,384,-6134,-900,0
3,202006,2020,06,1호선,신설동,252,6,9370,2462,8823,...,10034,17278,34654,5456,3488,3017,192,-3886,-529,0
4,202006,2020,06,1호선,제기동,419,7,4701,2355,8346,...,7477,12893,11270,788,726,-533,-1896,-2593,-402,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38085,201501,2015,01,4호선,수유(강북구청),76,1,21160,3652,56906,...,-11769,-22604,-59129,-103458,-70631,-56780,-59605,-45138,-12761,1
38086,201501,2015,01,4호선,미아,12,1,10667,1812,23354,...,-3298,-5125,-17443,-32873,-21214,-17242,-22749,-16490,-4445,0
38087,201501,2015,01,4호선,쌍문,38,0,22176,860,56130,...,-9209,-20366,-51516,-79471,-59848,-51532,-56322,-45917,-14414,0
38088,201501,2015,01,4호선,상계,34,7,14244,212,42099,...,-8890,-14150,-35668,-51811,-37041,-31736,-31607,-32012,-10582,-909
38089,201501,2015,01,4호선,노원,100,4,11832,654,30613,...,-9657,-16085,-45816,-60145,-24753,-19949,-16956,-20710,-10472,-374

In [142]:
count=4
for i in range(5,48,2):
    data=data.rename(columns={str(i):str(count).zfill(2)+"_"+str(count+1).zfill(2)+"시 차이"})
    count=count+1
data

,사용월,년도,월,호선명,지하철역,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,...,16_17시 차이,17_18시 차이,18_19시 차이,19_20시 차이,20_21시 차이,21_22시 차이,22_23시 차이,23_24시 차이,24_25시 차이,25_26시 차이
0,202006,2020,06,1호선,종로5가,52,2,1935,4036,2674,...,23799,44120,78253,35951,24754,21250,16553,4141,-217,0
1,202006,2020,06,1호선,종각,94,3,3286,4443,3385,...,27367,90522,161035,61840,62928,77221,61307,21580,-105,-1
2,202006,2020,06,1호선,동대문,495,8,14049,2376,9668,...,4675,5319,4532,-5170,-864,1355,384,-6134,-900,0
3,202006,2020,06,1호선,신설동,252,6,9370,2462,8823,...,10034,17278,34654,5456,3488,3017,192,-3886,-529,0
4,202006,2020,06,1호선,제기동,419,7,4701,2355,8346,...,7477,12893,11270,788,726,-533,-1896,-2593,-402,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38085,201501,2015,01,4호선,수유(강북구청),76,1,21160,3652,56906,...,-11769,-22604,-59129,-103458,-70631,-56780,-59605,-45138,-12761,1
38086,201501,2015,01,4호선,미아,12,1,10667,1812,23354,...,-3298,-5125,-17443,-32873,-21214,-17242,-22749,-16490,-4445,0
38087,201501,2015,01,4호선,쌍문,38,0,22176,860,56130,...,-9209,-20366,-51516,-79471,-59848,-51532,-56322,-45917,-14414,0
38088,201501,2015,01,4호선,상계,34,7,14244,212,42099,...,-8890,-14150,-35668,-51811,-37041,-31736,-31607,-32012,-10582,-909
38089,201501,2015,01,4호선,노원,100,4,11832,654,30613,...,-9657,-16085,-45816,-60145,-24753,-19949,-16956,-20710,-10472,-374

In [143]:
data.columns

Index(['사용월', '년도', '월', '호선명', '지하철역', '04시-05시 승차인원', '04시-05시 하차인원',
       '05시-06시 승차인원', '05시-06시 하차인원', '06시-07시 승차인원', '06시-07시 하차인원',
       '07시-08시 승차인원', '07시-08시 하차인원', '08시-09시 승차인원', '08시-09시 하차인원',
       '09시-10시 승차인원', '09시-10시 하차인원', '10시-11시 승차인원', '10시-11시 하차인원',
       '11시-12시 승차인원', '11시-12시 하차인원', '12시-13시 승차인원', '12시-13시 하차인원',
       '13시-14시 승차인원', '13시-14시 하차인원', '14시-15시 승차인원', '14시-15시 하차인원',
       '15시-16시 승차인원', '15시-16시 하차인원', '16시-17시 승차인원', '16시-17시 하차인원',
       '17시-18시 승차인원', '17시-18시 하차인원', '18시-19시 승차인원', '18시-19시 하차인원',
       '19시-20시 승차인원', '19시-20시 하차인원', '20시-21시 승차인원', '20시-21시 하차인원',
       '21시-22시 승차인원', '21시-22시 하차인원', '22시-23시 승차인원', '22시-23시 하차인원',
       '23시-24시 승차인원', '23시-24시 하차인원', '00시-01시 승차인원', '00시-01시 하차인원',
       '01시-02시 승차인원', '01시-02시 하차인원', '04_05시 차이', '05_06시 차이', '06_07시 차이',
       '07_08시 차이', '08_09시 차이', '09_10시 차이', '10_11시 차이', '11_12시 차이',
       '12_13시 차이', '13_14시 차이', '14_15시 차이', '15_16시 차이', '16_17시 차이',
       '17_18시 차이', '18_19시 차이', '19_20시 차이', '20_21시 차이', '21_22시 차이',
       '22_23시 차이', '23_24시 차이', '24_25시 차이', '25_26시 차이'],
      dtype='object')

In [144]:
data=data.rename(columns={"24_25시 차이":"00_01시 차이","25_26시 차이":"01_02시 차이"})
data

,사용월,년도,월,호선명,지하철역,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,...,16_17시 차이,17_18시 차이,18_19시 차이,19_20시 차이,20_21시 차이,21_22시 차이,22_23시 차이,23_24시 차이,00_01시 차이,01_02시 차이
0,202006,2020,06,1호선,종로5가,52,2,1935,4036,2674,...,23799,44120,78253,35951,24754,21250,16553,4141,-217,0
1,202006,2020,06,1호선,종각,94,3,3286,4443,3385,...,27367,90522,161035,61840,62928,77221,61307,21580,-105,-1
2,202006,2020,06,1호선,동대문,495,8,14049,2376,9668,...,4675,5319,4532,-5170,-864,1355,384,-6134,-900,0
3,202006,2020,06,1호선,신설동,252,6,9370,2462,8823,...,10034,17278,34654,5456,3488,3017,192,-3886,-529,0
4,202006,2020,06,1호선,제기동,419,7,4701,2355,8346,...,7477,12893,11270,788,726,-533,-1896,-2593,-402,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38085,201501,2015,01,4호선,수유(강북구청),76,1,21160,3652,56906,...,-11769,-22604,-59129,-103458,-70631,-56780,-59605,-45138,-12761,1
38086,201501,2015,01,4호선,미아,12,1,10667,1812,23354,...,-3298,-5125,-17443,-32873,-21214,-17242,-22749,-16490,-4445,0
38087,201501,2015,01,4호선,쌍문,38,0,22176,860,56130,...,-9209,-20366,-51516,-79471,-59848,-51532,-56322,-45917,-14414,0
38088,201501,2015,01,4호선,상계,34,7,14244,212,42099,...,-8890,-14150,-35668,-51811,-37041,-31736,-31607,-32012,-10582,-909
38089,201501,2015,01,4호선,노원,100,4,11832,654,30613,...,-9657,-16085,-45816,-60145,-24753,-19949,-16956,-20710,-10472,-374

In [145]:
data.to_csv("subway_result.csv",encoding="EUC-KR")

In [67]:
for i in range(0,len(data.columns)):
    if data.columns[i] =="04시 차이":
        print(i)

In [110]:
data.loc[:,["00시-01시 승차인원","00시-01시 하차인원","24시 차이"]]

       00시-01시 승차인원  00시-01시 하차인원  24시 차이
0                17           234    -217
1                26           131    -105
2                20           920    -900
3                17           546    -529
4                 6           408    -402
...             ...           ...     ...
38085          2885         15646  -12761
38086           705          5150   -4445
38087           987         15401  -14414
38088           803         11385  -10582
38089          2873         13345  -10472

[38090 rows x 3 columns]

In [109]:
cols=data.columns.tolist()

In [107]:
cols[-2:-1]+cols[1:2]

In [108]:
cols

['년도', '호선명']

In [ ]:
cols=cols[-1:]+cols

In [37]:
pd.pivot_table(data,index=["사용월","호선명","지하철역"])

                 00시-01시 승차인원  00시-01시 하차인원  01시-02시 승차인원  01시-02시 하차인원  \
사용월    호선명 지하철역
201501 1호선 동대문          915.0        5095.0           3.0          41.0
           동묘앞          299.0        3381.0           2.0         251.0
           서울역         6731.0        8682.0           7.0         532.0
           시청          1211.0        1139.0           1.0          18.0
           신설동          434.0        2592.0           0.0           0.0
...                       ...           ...           ...           ...
202006 중앙선 원덕             2.0         118.0           0.0           0.0
           중랑            72.0        1052.0           0.0           0.0
           지평             0.0           0.0           0.0           0.0
           팔당            18.0          91.0           0.0           0.0
           회기           427.0        4971.0           0.0           0.0

                 02시-03시 승차인원  02시-03시 하차인원  03시-04시 승차인원  03시-04시 하차인원  \
사용월    호선명 지하철역
201501 1호선 동대문              0           0.0             0             0
           동묘앞              0           0.0             0             0
           서울역              0           0.0             0             0
           시청               0           0.0             0             0
           신설동              0           0.0             0             0
...                       ...           ...           ...           ...
202006 중앙선 원덕               0           0.0             0             0
           중랑               0           0.0             0             0
           지평               0           0.0             0             0
           팔당               0           0.0             0             0
           회기               0           0.0             0             0

                 04시-05시 승차인원  04시-05시 하차인원  ...  19시-20시 승차인원  19시-20시 하차인원  \
사용월    호선명 지하철역                              ...
201501 1호선 동대문          413.0           7.0  ...       25964.0       35239.0
           동묘앞          123.0           3.0  ...       13798.0        9271.0
           서울역         1163.0          35.0  ...      168969.0      111230.0
           시청            63.0           1.0  ...       82182.0       18219.0
           신설동          148.0          11.0  ...       36380.0       26465.0
...                       ...           ...  ...           ...           ...
202006 중앙선 원덕            49.0           1.0  ...         430.0         683.0
           중랑           138.0           5.0  ...        4605.0       15060.0
           지평             0.0           0.0  ...         175.0         149.0
           팔당             4.0           0.0  ...        2405.0        1560.0
           회기           876.0          29.0  ...       27118.0       55284.0

                 20시-21시 승차인원  20시-21시 하차인원  21시-22시 승차인원  21시-22시 하차인원  \
사용월    호선명 지하철역
201501 1호선 동대문        19939.0       26674.0       18504.0       21472.0
           동묘앞         7900.0        6397.0        6948.0        6448.0
           서울역       119080.0       78949.0      121402.0       70119.0
           시청         63877.0        9465.0       64114.0        7784.0
           신설동        22344.0       17375.0       19889.0       16694.0
...                       ...           ...           ...           ...
202006 중앙선 원덕           303.0         327.0         149.0         472.0
           중랑          3360.0       10761.0        2902.0        9004.0
           지평             1.0          17.0           0.0           1.0
           팔당          1998.0         711.0        1741.0         562.0
           회기         22487.0       31967.0       22934.0       33423.0

                 22시-23시 승차인원  22시-23시 하차인원  23시-24시 승차인원  23시-24시 하차인원
사용월    호선명 지하철역
201501 1호선 동대문        15619.0       19804.0        8089.0       15448.0
           동묘앞         5095.0        6810.0        2435.0        4715.0
           서울역       103602.0       61216.0       47793.0       31384.0
           시청         44610.0        6197.0       16372.0        3623.0
           신설동        15037.0       16431.0        6030.0       11279.0
...                       ...           ...           ...           ...
202006 중앙선 원덕            49.0         278.0          23.0         229.0
           중랑          2025.0        7190.0         856.0        4566.0
           지평             0.0           0.0           0.0           0.0
           팔당          1014.0         461.0         207.0         218.0
           회기         20148.0       32237.0        9809.0       20945.0

[38006 rows x 48 columns]

In [44]:
data[(data["지하철역"]=="동대문") &(data["사용월"]==201501)]

,사용월,호선명,지하철역,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,...,23시-24시 승차인원,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원,02시-03시 승차인원,02시-03시 하차인원,03시-04시 승차인원,03시-04시 하차인원
37546,201501,4호선,동대문,369,7,9801,3071,5308,14566,5981,...,12957,10042,2833,2622,2,25,0,0,0,0
37554,201501,1호선,동대문,413,7,13701,1956,10907,7588,16633,...,8089,15448,915,5095,3,41,0,0,0,0

In [87]:
data

,사용월,호선명,지하철역,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,...,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원,02시-03시 승차인원,02시-03시 하차인원,03시-04시 승차인원,03시-04시 하차인원,년도,월
0,202006,1호선,종로5가,52,2,1935,4036,2674,16497,5086,...,17,234,0,0,0,0,0,0,2020,06
1,202006,1호선,종각,94,3,3286,4443,3385,26566,5367,...,26,131,0,1,0,0,0,0,2020,06
2,202006,1호선,동대문,495,8,14049,2376,9668,7451,14530,...,20,920,0,0,2,1,0,0,2020,06
3,202006,1호선,신설동,252,6,9370,2462,8823,8751,17577,...,17,546,0,0,0,0,0,0,2020,06
4,202006,1호선,제기동,419,7,4701,2355,8346,9047,20972,...,6,408,0,0,0,0,0,0,2020,06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38085,201501,4호선,수유(강북구청),76,1,21160,3652,56906,15248,158768,...,2885,15646,1,0,0,0,0,0,2015,01
38086,201501,4호선,미아,12,1,10667,1812,23354,5827,64853,...,705,5150,0,0,0,0,0,0,2015,01
38087,201501,4호선,쌍문,38,0,22176,860,56130,10585,149688,...,987,15401,0,0,1,0,0,0,2015,01
38088,201501,4호선,상계,34,7,14244,212,42099,8301,106446,...,803,11385,4,913,0,0,0,0,2015,01
38089,201501,4호선,노원,100,4,11832,654,30613,9336,64281,...,2873,13345,3,377,0,0,0,0,2015,01

In [94]:
data.columns[-6:-2]

Index(['00시-01시 승차인원', '00시-01시 하차인원', '01시-02시 승차인원', '01시-02시 하차인원'], dtype='object')

In [95]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38090 entries, 0 to 38089
Data columns (total 49 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   사용월           38090 non-null  object
 1   호선명           38090 non-null  object
 2   지하철역          38090 non-null  object
 3   04시-05시 승차인원  38090 non-null  int64
 4   04시-05시 하차인원  38090 non-null  int64
 5   05시-06시 승차인원  38090 non-null  int64
 6   05시-06시 하차인원  38090 non-null  int64
 7   06시-07시 승차인원  38090 non-null  int64
 8   06시-07시 하차인원  38090 non-null  int64
 9   07시-08시 승차인원  38090 non-null  int64
 10  07시-08시 하차인원  38090 non-null  int64
 11  08시-09시 승차인원  38090 non-null  int64
 12  08시-09시 하차인원  38090 non-null  int64
 13  09시-10시 승차인원  38090 non-null  int64
 14  09시-10시 하차인원  38090 non-null  int64
 15  10시-11시 승차인원  38090 non-null  int64
 16  10시-11시 하차인원  38090 non-null  int64
 17  11시-12시 승차인원  38090 non-null  int64
 18  11시-12시 하차인원  38090 non-null  int64
 19  12시-13시 승차인원  38090 non-null  int64
 20  12시-13시 하차인원  38090 non-null  int64
 21  13시-14시 승차인원  38090 non-null  int64
 22  13시-14시 하차인원  38090 non-null  int64
 23  14시-15시 승차인원  38090 non-null  int64
 24  14시-15시 하차인원  38090 non-null  int64
 25  15시-16시 승차인원  38090 non-null  int64
 26  15시-16시 하차인원  38090 non-null  int64
 27  16시-17시 승차인원  38090 non-null  int64
 28  16시-17시 하차인원  38090 non-null  int64
 29  17시-18시 승차인원  38090 non-null  int64
 30  17시-18시 하차인원  38090 non-null  int64
 31  18시-19시 승차인원  38090 non-null  int64
 32  18시-19시 하차인원  38090 non-null  int64
 33  19시-20시 승차인원  38090 non-null  int64
 34  19시-20시 하차인원  38090 non-null  int64
 35  20시-21시 승차인원  38090 non-null  int64
 36  20시-21시 하차인원  38090 non-null  int64
 37  21시-22시 승차인원  38090 non-null  int64
 38  21시-22시 하차인원  38090 non-null  int64
 39  22시-23시 승차인원  38090 non-null  int64
 40  22시-23시 하차인원  38090 non-null  int64
 41  23시-24시 승차인원  38090 non-null  int64
 42  23시-24시 하차인원  38090 non-null  int64
 43  00시-01시 승차인원  38090 non-null  int64
 44  00시-01시 하차인원  38090 non-null  int64
 45  01시-02시 승차인원  38090 non-null  int64
 46  01시-02시 하차인원  38090 non-null  int64
 47  년도            38090 non-null  object
 48  월             38090 non-null  object
dtypes: int64(44), object(5)
memory usage: 14.2+ MB

In [35]:
data["사용월"].unique()

array([202006, 202005, 202004, 202003, 202002, 202001, 201912, 201911,
       201910, 201909, 201908, 201907, 201906, 201905, 201904, 201903,
       201902, 201901, 201812, 201811, 201810, 201809, 201808, 201807,
       201806, 201805, 201804, 201803, 201802, 201801, 201712, 201711,
       201710, 201709, 201708, 201707, 201706, 201705, 201704, 201703,
       201702, 201701, 201612, 201611, 201610, 201609, 201608, 201607,
       201606, 201605, 201604, 201603, 201602, 201601, 201512, 201511,
       201510, 201509, 201508, 201507, 201506, 201505, 201504, 201503,
       201502, 201501], dtype=int64)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38090 entries, 0 to 38089
Data columns (total 52 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   사용월           38090 non-null  int64
 1   호선명           38090 non-null  object
 2   지하철역          38090 non-null  object
 3   04시-05시 승차인원  38090 non-null  int64
 4   04시-05시 하차인원  38090 non-null  int64
 5   05시-06시 승차인원  38090 non-null  int64
 6   05시-06시 하차인원  38090 non-null  int64
 7   06시-07시 승차인원  38090 non-null  int64
 8   06시-07시 하차인원  38090 non-null  int64
 9   07시-08시 승차인원  38090 non-null  int64
 10  07시-08시 하차인원  38090 non-null  int64
 11  08시-09시 승차인원  38090 non-null  int64
 12  08시-09시 하차인원  38090 non-null  int64
 13  09시-10시 승차인원  38090 non-null  int64
 14  09시-10시 하차인원  38090 non-null  int64
 15  10시-11시 승차인원  38090 non-null  int64
 16  10시-11시 하차인원  38090 non-null  int64
 17  11시-12시 승차인원  38090 non-null  int64
 18  11시-12시 하차인원  38090 non-null  int64
 19  12시-13시 승차인원  38090 non-null  int64
 20  12시-13시 하차인원  38090 non-null  int64
 21  13시-14시 승차인원  38090 non-null  int64
 22  13시-14시 하차인원  38090 non-null  int64
 23  14시-15시 승차인원  38090 non-null  int64
 24  14시-15시 하차인원  38090 non-null  int64
 25  15시-16시 승차인원  38090 non-null  int64
 26  15시-16시 하차인원  38090 non-null  int64
 27  16시-17시 승차인원  38090 non-null  int64
 28  16시-17시 하차인원  38090 non-null  int64
 29  17시-18시 승차인원  38090 non-null  int64
 30  17시-18시 하차인원  38090 non-null  int64
 31  18시-19시 승차인원  38090 non-null  int64
 32  18시-19시 하차인원  38090 non-null  int64
 33  19시-20시 승차인원  38090 non-null  int64
 34  19시-20시 하차인원  38090 non-null  int64
 35  20시-21시 승차인원  38090 non-null  int64
 36  20시-21시 하차인원  38090 non-null  int64
 37  21시-22시 승차인원  38090 non-null  int64
 38  21시-22시 하차인원  38090 non-null  int64
 39  22시-23시 승차인원  38090 non-null  int64
 40  22시-23시 하차인원  38090 non-null  int64
 41  23시-24시 승차인원  38090 non-null  int64
 42  23시-24시 하차인원  38090 non-null  int64
 43  00시-01시 승차인원  38090 non-null  int64
 44  00시-01시 하차인원  38090 non-null  int64
 45  01시-02시 승차인원  38090 non-null  int64
 46  01시-02시 하차인원  38090 non-null  int64
 47  02시-03시 승차인원  38090 non-null  int64
 48  02시-03시 하차인원  38090 non-null  int64
 49  03시-04시 승차인원  38090 non-null  int64
 50  03시-04시 하차인원  38090 non-null  int64
 51  작업일자          38090 non-null  int64
dtypes: int64(50), object(2)
memory usage: 15.1+ MB

In [5]:
path2="location.csv"
with open(path2, 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'encoding': 'EUC-KR', 'confidence': 0.99, 'language': 'Korean'}

In [6]:
data2=pd.read_csv(path2, encoding='EUC-KR')
data2

,전철역코드,전철역명,호선,외부코드,사이버스테이션,X좌표,Y좌표,X좌표(WGS),Y좌표(WGS)
0,2818,가락시장,8,817,2818,525992.0,1108579.0,37.492522,127.118234
1,340,가락시장,3,350,2818,525992.0,1108579.0,37.492522,127.118234
2,2535,종로3가,5,534,153,498060.0,1130332.0,37.571607,126.991806
3,319,종로3가,3,329,153,498060.0,1130332.0,37.571607,126.991806
4,153,종로3가,1,130,153,498060.0,1130332.0,37.571607,126.991806
...,...,...,...,...,...,...,...,...,...
924,4505,동백,E,Y114,4505,533700.0,1046500.0,37.269043,127.152716
925,4506,초당,E,Y115,4506,535500.0,1044100.0,37.260752,127.159443
926,4508,삼가,E,Y116,4508,537300.0,1039000.0,37.242115,127.168075
927,4509,시청?용인대,E,Y117,4509,539500.0,1038300.0,37.239151,127.178406
928,4510,명지대,E,Y118,4510,542100.0,1037900.0,37.237964,127.190294

In [25]:
len(data2["전철역명"].unique())

591