In [1]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

import os

In [3]:
data = pd.read_csv("location.csv",encoding='EUC-KR')
#컬럼명 통일
data.rename(columns={"전철역명":"지하철역"},inplace=True)
#지하철역 정리
data["지하철역"]=data["지하철역"].apply(lambda x: x.split("(")[0])
data["지하철역"]=data["지하철역"].apply(lambda x: x.split("?")[0])
#원하는 컬럼만 남기고 drop
data=data.drop(["전철역코드","외부코드","사이버스테이션","X좌표","Y좌표"],axis=1)
data

     전철역코드  지하철역 호선  외부코드  사이버스테이션       X좌표        Y좌표   X좌표(WGS)    Y좌표(WGS)
0     2818  가락시장  8   817     2818  525992.0  1108579.0  37.492522  127.118234
1      340  가락시장  3   350     2818  525992.0  1108579.0  37.492522  127.118234
2     2535  종로3가  5   534      153  498060.0  1130332.0  37.571607  126.991806
3      319  종로3가  3   329      153  498060.0  1130332.0  37.571607  126.991806
4      153  종로3가  1   130      153  498060.0  1130332.0  37.571607  126.991806
..     ...   ... ..   ...      ...       ...        ...        ...         ...
924   4505    동백  E  Y114     4505  533700.0  1046500.0  37.269043  127.152716
925   4506    초당  E  Y115     4506  535500.0  1044100.0  37.260752  127.159443
926   4508    삼가  E  Y116     4508  537300.0  1039000.0  37.242115  127.168075
927   4509    시청  E  Y117     4509  539500.0  1038300.0  37.239151  127.178406
928   4510   명지대  E  Y118     4510  542100.0  1037900.0  37.237964  127.190294

[929 rows x 9 columns]